/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  background-color: #FFF;
  color: #1A1A1A;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

#logo-and-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 22px 45px;  
}

.logo {
  width: 280px;
}

nav {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 550px;
}

.nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight:100;
}

#bgn-header {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#bgn-header h1 {
  color: white;
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
  margin: 200px 100px 30px 100px;
}

#bgn-header p {
  color: white;
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  margin: 50px 350px;
}

#general {
  margin: 25px 100px;
}

#general h2 {
  text-align: center;
  font-size: 46px;
  font-weight: bolder;
  border-bottom: 5px solid #00B172;
  margin-left: auto;
  margin-right: auto;
  width: 440px;

}

.set-features {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.feature {
  margin: 100px 10px;
  width: 400px;
}

.feature img {
  width: 150px;

}

.feature h3 {
  color: #00B172;
  font-size: 35px;
  font-weight: bolder;
  margin-top: 20px;
}

.feature p {
  font-size: 28px;
  font-weight: 100;
  margin: 20px 20px 0 20px ;

}